exp1/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.pt
# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.coverage/

# Translations
*.mo
*.pot

# Flask instance folder
instance/

# Flask and Gunicorn log files
*.log

# Local configuration files
.env
*.env
.env.local
.env.*.local
env.py

# Static files
static/

# Media uploads
uploads/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
*.swp
*.swo
*.idea/
.idea/
*.iml
.project
.pydevproject

# PyCharm
/.idea/
*.iml
*.iws
.idea/
.idea/*
.idea/workspace.xml

# macOS
.DS_Store

# Nginx
nginx.conf

# System Files
Thumbs.db
