<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Video</title>
</head>
<body>
    <h1>Upload Video</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <h2>Select Speed Category</h2>
        <input type="radio" name="speed_category" value="fast" required> Fast <br>
        <input type="radio" name="speed_category" value="medium" required> Medium <br>
        <input type="radio" name="speed_category" value="spinner" required> Spinner <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
